@use '../util' as *;

.container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto  auto;
  margin: rem(80) auto;
  padding: rem(23);
  gap: rem(20);
  

  @include breakpoint(large){
    /* margin: rem(250) auto; */
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: rem(1110);
    gap: rem(30);
  };
}