@use '../util' as *;

.foo{
  --width:
}

.cards{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  gap:rem(20);

  @include breakpoint(large){
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:rem(30);
  }
}

.card{
  position: relative;
  width: 100%;
  height: 198px;
  background:var(--dark_blue);
  border-radius:12px;
  margin-top:rem(46);


  &::after , &::before{
    content: '';
    position: absolute;
    border-radius:12px 12px 0 0;
    width: 100%;
    height: 62px;
    top: -46px;
    z-index: -1;
  }

  &--work::after , &--work::before{
    background:url('../images/icon-work.svg');
    background-color: var(--light_red_work);
    background-repeat: no-repeat;
    background-position: top -5px right 21px;
  }
  &--play::after , &--play::before{
    background:url('../images/icon-play.svg');
    background-color: var(--soft_blue_play);
    background-repeat: no-repeat;
    background-position: top -5px right 21px;
  }
  &--study::after , &--study::before{
    background:url('../images/icon-study.svg');
    background-color: var(--light_red_study);
    background-repeat: no-repeat;
    background-position: top -5px right 21px;
  }
  &--exercise::after , &--exercise::before{
    background:url('../images/icon-exercise.svg');
    background-color: var(--lime_green_exercise);
    background-repeat: no-repeat;
    background-position: top 1px right 21px;
  }
  &--social::after , &--social::before{
    background:url('../images/icon-social.svg');
    background-color: var(--violet_social);
    background-repeat: no-repeat;
    background-position: top -16px right 21px
  }
  &--selfcare::after , &--selfcare::before{
    background:url('../images/icon-self-care.svg');
    background-color: var(--soft_orange_selfcare);
    background-repeat: no-repeat;
    background-position: top -11px right 21px;
  }
}